<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job info</title>
</head>
<body>
    <div class="card" style="width: 60rem;">
        <div class="card-body">
          <h1 class="card-title">Project Name1</h1>
          <h2>
            
            <small class="text-muted">Recruiter1</small>
          </h2>
          <h2>Project description:</h2>
          <p class="card text">We are looking for a Nimble Project Managers to run multiple Projects at an advanced technology startup. Must not be accustomed to corporate sleepy project managed. Must enthusiastically pursue getting things done! with startup mindset. This job requires a motivated individual who is experienced in taking responsibility and can independently deliver results on both departmental and business projects.</p>
          <h2>Work Description:</h2><p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
         <p class="card text">Line management and personal development of a team of highly skilled developers

          Managing the delivery of multiple complex simultaneous system development projects from design through to release
          
          Capable of understanding and contributing to the technical solution from design through to code level
          
          Provide regular and effective progress updates to management
          
          Define delivery phases of the project including activities, sub-activities, and milestones ensuring these are documented
          
          Ensure robust communication on the project status throughout its life cycle
          
          Participate in review meetings and provide updates on project progress
          
          Take responsibility for ensuring that risks and issues are identified and managed closely</p>
        <h2>Amount to pay:</h2> 
        <p class="card text">₹16,000.00 - ₹35,000.00 per month</p>
        <h2>Duration:</h2>
         <p class="card text">2 months</p>
         <h2>No of candidates applied:</h2>
         <p class="card text">8</p>
          <a href="#" class="btn btn-primary">Apply</a>
        </div>
      </div>
</body>
</html>
