<h1 class="container">Profile</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img
        src="https://img.freepik.com/free-icon/user_318-159711.jpg"
        alt="Profile Picture"
      />
    </div>
    <div class="col-md-8">
      <ul>
        <li><b> Name:</b> Aayush Kumar</li>
        <li><b>Email:</b> abcderfg@gmail.com</li>
        <li><b>Contact no:</b> 9876543210</li>
        <li><b>Department:</b> Ceramic Engineering</li>
      </ul>
    </div>
  </div>
</div>
